@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* Estilos movidos do base.html para melhor organização */
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #351235;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: #351235;
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #351235;
}

/*
     * Extra utilities
     */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.olar {
  background: linear-gradient(to right,
      #251630 0%,
      #500E50 70%,
      #DD00DD 100%);
}

.text-white h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(240, 240, 240);
  font-size: 60px;
}

.img-fluid {
  height: 465px;
  position: absolute;
  bottom: 0%;
  left: 65%;
}

.img1 {
  align-content: center;
}

.text h1 {
  text-align: left;
  font-size: 60px;
}

.text p {
  text-align: left;
  font-size: 30px;
  min-width: 200px;
  max-width: 1000px;
}

.text h3 {
  text-align: left;
  font-size: 30px;
}

.display-1 {
  font-weight: bold;
  border-bottom: 2px solid;
}

div.bg0 {
  background: linear-gradient(to bottom, #251630 0%, #500E50 75%, #9D009D 100%);

}

.bt1 {
  margin-top: 25%;
  font-size: 24px;
}

.cronicas {
  background: linear-gradient(to bottom, #251630 0%, #500E50 75%, #9D009D 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Adicione estilos para a janela pop-up */
.popup-window {
  width: 600px;
  height: 400px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  /* Centralize a janela pop-up */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.container {
    min-width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: 170px;
    font-size: 15px;
    background: linear-gradient(
        to right,
        #351235 55%,
        #222327
    );
    border-radius: 10px;
}

div.container h2 {
    margin: 10px;
    font-size: 22px;
}

div.container p {
    margin: 10px;
    font-size: 14px;
}

div.container a {
    position: absolute;
    top: 50%;
    left: 5%;
}

div.navbar-text {
    min-width: 200px;
    max-width: 1080px;
    display: block;
    justify-content: center;
    align-items: center;
    align-items: left;
}

nav {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 625px;
    height: 115px;
    background: linear-gradient(
        to right,
        #db59db,
        #351235
    );
    border: 2px ridge #e131e1;
    box-shadow: 2px 2px 5px #e03de0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 700px;

}

.navigation ul li {
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #351235;
}

.navigation ul li.active a .icon {
    transform: translateY(-50px);
}

.navigation ul li a .text {
    position: absolute;
    color: #351235;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: -35%;
    width: 68px;
    height: 68px;
    background: #db59db;
    border-radius: 50%;
    border: 6px solid #351235;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 46%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: -1px -10px 0 0 #351235;

}

.indicator::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #351235;

}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
    background-color: #da4dda;
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
    background-color: #ab2fab;
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
    background-color: #c330c3;
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
    background-color: #c32dc3;
}

.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
    background-color: #8d208d;
}

.navigation ul li:nth-child(7).active ~ .indicator {
    transform: translateX(calc(70px * 6));
    background-color: #7b177b;
}

.navigation ul li:nth-child(8).active ~ .indicator {
    transform: translateX(calc(70px * 7));
    background-color: #351235;
}

.datetime {
    position: absolute;
    right: 15px;
    top: 15px;
}

div.datetime {
    width: 170px;
    height: 150px;
    background: linear-gradient(
        to right,
        #db59db,
        #351235
    );
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px ridge #db59db;
    box-shadow: 2px 2px 5px #db59db;
}

div.datetime p {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

div.datetime hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.datetime div {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

time {
    margin: 37px;
    justify-content: center;
    align-items: center;
    width: 140px;
    border: 1px solid #f7f7f7;
    padding: 4px 12px;
    background-color: #2c0b2c;
    color: #f7f7f7;
    font-size: 2em;
    font-weight: 300;
    border-radius: 4px;
}

.img1d {
    width:1200px;
	height:566px;
	border:4px solid #999;
	background:transparent url(../images/cine_metah.jpg);
}

.moldura-dois {
	width: 1248px; 
	border:8px inset #5f6632;
	padding:15px;
	background: #b1b1c3;
	}

.moldura-um {
    width: 1350px; /*404+8+8(bordas)+15+15(paddings)*/
    border:20px inset #A40F3C;
    padding:25px;
    background: transparent url(../images/wallpaper.jpg);
    }

.border-primary { border: 2px solid #4a00e0 !important; }
.bg-dark { background: #1a1a1a !important; }
.text-warning { color: #ffd700 !important; }
.alert { border-radius: 12px; }

/* Estilos específicos para GIFs e imagens animadas */
.gif-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: visible !important;
    background-color: transparent !important;
}

.gif-container img {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
    border: none !important;
}

/* Fix para imagens que não carregam */
img[src*=".gif"] {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/* Debug para imagens com problemas */
img:not([src]),
img[src=""],
img[src*="undefined"] {
    background-color: #ff0000 !important;
    min-height: 50px !important;
    min-width: 50px !important;
}
