import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

header {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #222327;
}

div.container {
    min-width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: 170px;
    font-size: 15px;
    background: linear-gradient(
        to right,
        rgb(108, 224, 195) 55%,
        #222327
    );
    border-radius: 10px;
}

div.container h2 {
    margin: 10px;
    font-size: 22px;
}

div.container p {
    margin: 10px;
    font-size: 14px;
}

div.container a {
    position: absolute;
    top: 50%;
    left: 5%;
}

div.navbar-text {
    min-width: 200px;
    max-width: 1080px;
    display: block;
    justify-content: center;
    align-items: center;
    align-items: left;
}

nav {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 750px;
    height: 115px;    
    background: linear-gradient(
        to right,
        #70faae,
        #004720
    );
    border: 2px ridge #ddffec;
    box-shadow: 2px 2px 5px rgba(162, 255, 204, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 700px;
    
}

.navigation ul li {
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #222327;
}

.navigation ul li.active a .icon {
    transform: translateY(-50px);
}

.navigation ul li a .text {
    position: absolute;
    color: #222327;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: -35%;
    width: 68px;
    height: 68px;
    background: #5af49f;
    border-radius: 50%;
    border: 6px solid #222327;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 46%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: -1px -10px 0 0 #222327;

}

.indicator::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #222327;

}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
    background-color: #52e092;
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
    background-color: #43ca80;
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
    background-color: #33c273;
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
    background-color: #25b164;
}

.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
    background-color: #1da058;
}

.navigation ul li:nth-child(7).active ~ .indicator {
    transform: translateX(calc(70px * 6));
    background-color: #117e42;
}

.navigation ul li:nth-child(8).active ~ .indicator {
    transform: translateX(calc(70px * 7));
    background-color: #0c582e;
}

.datetime {
    position: absolute;
    right: 15px;
    top: 15px;
}

div.datetime {
    width: 170px;
    height: 150px;
    background: linear-gradient(
        to right,
        #70faae,
        #004720
    );
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px ridge #ddffec;
    box-shadow: 2px 2px 5px rgba(162, 255, 204, 0.5);
}

div.datetime p {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

div.datetime hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.datetime div {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

time {
    margin: 37px;
    justify-content: center;
    align-items: center;
    width: 140px;
    border: 1px solid #f7f7f7;
    padding: 4px 12px;
    background-color: #222327;
    color: #f7f7f7;
    font-size: 2em;
    font-weight: 300;
    border-radius: 4px;
}

