import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

header {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #251630;
}

div {
    border-radius: 10px;
}

div.container {
    min-width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: 170px;
    font-size: 15px;
    background: linear-gradient(
        to right,
        #DD00DD 55%,
        #251630
    );
    border-radius: 10px;
}

div.container h2 {
    margin: 10px;
    font-size: 22px;
}

div.container p {
    margin: 10px;
    font-size: 14px;
}

div.container a {
    position: absolute;
    top: 50%;
    left: 5%;
}

div.navbar-text {
    min-width: 200px;
    max-width: 1080px;
    display: block;
    justify-content: center;
    align-items: center;
    align-items: left;
}

div.about-bg {
    background-color: #42024271;
    transform: translateY(-2%);
}

nav {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 625px;
    height: 115px;    
    background: linear-gradient(
        to right,
        #DD00DD,
        #351235
    );
    border: 2px ridge #DD00DD;
    box-shadow: 2px 2px 5px #DD00DD;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 700px;
    
}

.navigation ul li {
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #251630;
}

.navigation ul li.active a .icon {
    transform: translateY(-50px);
}

.navigation ul li a .text {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: #251630;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: -35%;
    width: 68px;
    height: 68px;
    background: #DD00DD;
    border-radius: 50%;
    border: 6px solid #251630;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 46%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: -1px -10px 0 0 #251630;

}

.indicator::after {
    content: '';
    position: absolute;
    top: 46%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #251630;

}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
    background-color: #bd11bd;
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
    background-color: #af18af;
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
    background-color: #a310a3;
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
    background-color: #8a148a;
}

.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
    background-color: #7a067a;
}

.navigation ul li:nth-child(7).active ~ .indicator {
    transform: translateX(calc(70px * 6));
    background-color: #700770;
}

.navigation ul li:nth-child(8).active ~ .indicator {
    transform: translateX(calc(70px * 7));
    background-color: #351235;
}

.datetime {
    position: absolute;
    right: 15px;
    top: 15px;
}

div.datetime {
    width: 170px;
    height: 150px;
    background: linear-gradient(
        to right,
        #DD00DD,
        #251630
    );
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px ridge #DD00DD;
    box-shadow: 2px 2px 5px #DD00DD;
}

div.datetime p {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

div.datetime hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.datetime div {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

time {
    margin: 37px;
    justify-content: center;
    align-items: center;
    width: 140px;
    border: 1px solid #DD00DD;
    padding: 4px 12px;
    background-color: #222327;
    color: #f7f7f7;
    font-size: 2em;
    font-weight: 300;
    border-radius: 4px;
}

.img1d {
    width:1200px;
	height:566px;
	border:4px solid #999;
	background:transparent url(../images/cine_metah.jpg);
}

.moldura-dois {
	width: 1248px; 
	border:8px inset #5f6632;
	padding:15px;
	background: #b1b1c3;
	}

.moldura-um {
    width: 1350px; /*404+8+8(bordas)+15+15(paddings)*/
    border:20px inset #A40F3C;
    padding:25px;
    background: transparent url(../images/wallpaper.jpg);
    }

div.backgbs {
    background-image: url(../images/jalaish-ill.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: 170px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.parallax-container.backgbs:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 99.9%, #251630 100%);
}

.parallax-container img {
    display: block;
    margin: 0 auto; /* Isso centralizará a imagem horizontalmente */
    max-width: 100%;
    height: auto;
}

.parallax-container.backgbs .book-cover {
    position: relative;
    perspective: 1000px; /* Define a perspectiva para o efeito 3D */
    padding: 28px;    
}

.parallax-container.backgbs .book-cover img {
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para destacar a capa */
    transition: transform 0.5s ease; /* Adiciona uma transição suave para o efeito 3D */
    border: 10px ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.parallax-container.backgbs .book-cover:hover img {
    transform: translateY(-20px) rotateX(10deg); /* Aplica uma transformação quando o mouse passa por cima */
}

.bginfob {
    background-color: #a40f3c30;
    font-weight: bold; /* Aumenta o peso da fonte */
    font-size: 18px; /* Define o tamanho da fonte */
    color: rgb(112, 112, 112); /* Define a cor do texto */
}


