{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plus.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- Pending Requests Card Example -->
    <div class="text-white text-center">
        <h1>this is your library {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/your_collection" style="text-decoration: none;" class="list">
                    <div class="card bg-dark border-left-warning shadow h-100 py-2 text-white">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        number of books in your library</div>
                                    <div class="h5 mb-0 font-weight-bold ">{{ current_user.books|length }}</div>
                                </div>
                                <div class="col-auto">
                                    <ion-icon name="library-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="#" style="text-decoration: none;" class="authour">
                    <div class="card bg-dark border-left-warning shadow h-100 py-2 text-white">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Number of authors in your library
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold">{{
                                        current_user.books|map(attribute='author')|unique|list|length }}</div>
                                </div>
                                <div class="col-auto">
                                    <ion-icon name="people-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/your_collection" style="text-decoration: none;" class="active">
                    <div class="card bg-dark border-left-warning shadow h-100 py-2">
                        <!-- Conteúdo do terceiro cartão -->
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/your_collection" style="text-decoration: none;" class="active">
                    <div class="card bg-dark border-left-warning shadow h-100 py-2">
                        <!-- Conteúdo do quarto cartão -->
                    </div>
                </a>
            </div>
            
        </div>
        
    </div>
</div>
<div class="d-flex justify-content-center">
    <div id="author-table" style="display: none; width: auto;" class="table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th class="w-auto">Author</th>
                    <th class="w-20">Number of Books</th>
                </tr>
            </thead>
            <tbody>
                {% for author, count in current_user.books|groupby(attribute='author') %}
                <tr>
                    <td>{{ author }}</td>
                    <td>{{ count|list|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div id="book-genres-table" style="width: auto;" class="table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th>position</th>
                    <th>code</th>
                    <th>Title</th>
                    <th>Current Page</th>
                    <th>Reading Percentage</th>
                    <th>Time Spent</th>
                    <th>Estimated Time</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in user_readings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ reading.book.code }}</td>
                    <td>{{ reading.book.title }}</td>
                    <td>{{ reading.current_page }}</td>
                    <td>{{ reading.reading_percentage }}</td>
                    <td>{{ reading.time_spent }}</td>
                    <td>{{ reading.estimated_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="d-flex justify-content-center">
    <div id="book-genres-table" style="width: auto;" class="table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th>Genre Code</th>
                    <th>Genre Name</th>
                </tr>
            </thead>
            <tbody>
                {% for code, name in book_genres.items() %}
                <tr>
                    <td>{{ code }}</td>
                    <td>{{ name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}