{% extends "base.html" %}

{% block content %}
<hr class="bg-white">
{% if not current_user.is_authenticated %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center olar">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="text-white text">amber archively</h1>
    <p class="lead fw-normal text-white">A digital spellbook for bookworms: an enchanted library, intuitive and interactive.</p>
    <a class="btn btn-outline-light" href="#about">more about</a>
  </div>
  <img src="../static/images/DALL_E_2023-05-19_13.49.52-removebg-preview.png"
    class="img-fluid d-none d-md-block d-lg-block d-xl-block">
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5  text-white overflow-hidden">
    <div class="me-md-3 mb-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden d-flex justify-content-center align-items-center">
      <img class="" src="../static/images/quadro_elevador_lacerda.jpg" alt="">
  </div>
  
    <div class="my-3 py-3 align-content-center">
      <h2 class="text-lg-left font-weight-bold display-1">about</h2>
      <h3 class="text">have your juice while walking through amber archivily ;)
      </h3>
      <p class="lead">Introducing Amber Archively - the program that will bring your personal library to life! Whether
        you're a bookworm, manga lover, or anime enthusiast, Amber Archively is the perfect platform to keep track of
        your personal collection. With features like user registration and personal library creation, you can easily organize your
        books and keep them at your fingertips. Add books with unique codes based on the CDU, and input details like
        title, author, publisher, year of publication, number of pages, and format (physical, PDF, or e-book). Want to find a specific book in your collection? No problem! Amber Archively allows you to search
        by any of the previously mentioned details, as well as by genre, reading status (currently reading, read, or to
        be read), and loan status (borrowed or owned). </p>

      <p class="lead">But that's not all - with Amber Archively's filtering and classification system, you can easily
        sort your collection by author, publisher, year of publication, number of pages, and more. Keep track of which
        books you've read and mark your progress on those you're currently reading. And for all the statistics lovers out there, Amber Archively generates insightful information
        about your library, including the number of books per genre and your most-read author. So, go ahead and take a
        sip of your juice box while you peruse your personal library, and let Amber Archively do the rest!!</p>
    </div>
  </div>
</div>
{% else %}
<div
  class="d-flex d-none d-md-block d-lg-block d-xl-block bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5  text-white overflow-hidden align-content-center justify-content-center">
  <div class="d-flex my-3 py-3 align-content-center justify-content-center">
    <div class="d-flex moldura-um align-content-center justify-content-center">
      <div class="d-flex moldura-dois my-3 py-3 align-content-center justify-content-center text-center">
        <div class="d-flex my-3 py-3 align-content-center justify-content-center text-center img1d" id="about">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if current_user.is_authenticated %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">register new book</h2>
      <p class="lead">Unlock the magical realm of the 'Register New Book' tab, where bibliophiles embark on an enchanted
        quest to give their beloved books an official identity card – because every book deserves its own novel
        identification number, just like we bibliophiles cherish our library cards</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/register_new_book">three, two...</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">your collection</h2>
      <p class="lead">Discover the Pandora's Box of literary treasures in Your Collection, where bookworms unleash the
        enchantment of their personal library, revealing a trove of captivating tales and literary wonders. in there are
        your precious books of palladins world...</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/your_collection">gooo!!!</a>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">filter</h2>
      <p class="lead">"eliminate the impossible, and whatever remains, however improbable, must be the truth"</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 330px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/filter">filter</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white align-content-center">
    <div class="my-3 py-3">
      <h2 class="display-5">search</h2>
      <p class="lead">"the game is afoot!"</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 330px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/search">ima sherlock homes ;)</a>
    </div>
  </div>

</div>


</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">about your library</h2>
      <p class="lead">Step into the ethereal realm of knowledge, where the Library of Babel whispers its secrets.
        Explore the 'About Your Library' page.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 310px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/about_your_library">a new realm of literature</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white align-content-center">
    <div class="my-3 py-3">
      <h2 class="display-5">who is larissa?</h2>
      <p class="lead">lady lari mi consagras, listenning to the fella lil max x.</p>
      <a class="btn btn-outline-light" href="/profile">social midia</a>
    </div>
    <div class="shadow-sm mx-auto"
      style="width: 100%; height: 300px; border-radius: 21px 21px 0 0; align-content: center;">
      <a href="https://www.pinterest.cl/pin/579768152016330995/?amp_client_id=CLIENT_ID%28_%29&mweb_unauth_id=%7B%7Bdefault.session%7D%7D&simplified=true"
        target="external"><img src="../static/images/fofri.gif"
          alt="Gif da Larissa com frio, assoprando as mãos (clique no link para seguir até o autor do gif...)"></a>
    </div>

  </div>


</div>
<hr class="bg-white">
{% else %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">register new book</h2>
      <p class="lead">Unlock the magical realm of the 'Register New Book' tab, where bibliophiles embark on an enchanted
        quest to give their beloved books an official identity card – because every book deserves its own novel
        identification number, just like we bibliophiles cherish our library cards</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/login">three, two...</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">your collection</h2>
      <p class="lead">Discover the Pandora's Box of literary treasures in Your Collection, where bookworms unleash the
        enchantment of their personal library, revealing a trove of captivating tales and literary wonders. in there are
        your precious books of palladins world...</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/login">gooo!!!</a>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">filter</h2>
      <p class="lead">"eliminate the impossible, and whatever remains, however improbable, must be the truth"</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/login">filter</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white align-content-center">
    <div class="my-3 py-3">
      <h2 class="display-5">search</h2>
      <p class="lead">"the game is afoot!"</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 330px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/login">ima sherlock homes ;)</a>
    </div>
  </div>

</div>


</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
    <div class="my-3 p-3">
      <h2 class="display-5">about your library</h2>
      <p class="lead">Step into the ethereal realm of knowledge, where the Library of Babel whispers its secrets.
        Explore the 'About Your Library' page.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto cronicas" style="width: 80%; height: 310px; border-radius: 21px 21px 0 0;">
      <a class="btn btn-secondary bt1" href="/login">a new realm of literature</a>
    </div>
  </div>
  <div class="bg0 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white align-content-center">
    <div class="my-3 py-3">
      <h2 class="display-5">who is larissa?</h2>
      <p class="lead">lady lari mi consagras, listenning to the fella lil max x.</p>
      <a class="btn btn-outline-light" href="/profile">social midia</a>
    </div>
    <div class="shadow-sm mx-auto"
      style="width: 100%; height: 300px; border-radius: 21px 21px 0 0; align-content: center;">
      <a href="https://www.pinterest.cl/pin/579768152016330995/?amp_client_id=CLIENT_ID%28_%29&mweb_unauth_id=%7B%7Bdefault.session%7D%7D&simplified=true"
        target="external"><img src="../static/images/fofri.gif"
          alt="Gif da Larissa com frio, assoprando as mãos (clique no link para seguir até o autor do gif...)"></a>
    </div>

  </div>


</div>
<hr class="bg-white">
{% endif %}
{% endblock %}