{% extends "base.html" %}

{% block content %}
<div class="text-white d-flex justify-content-center align-items-center">
    <form action="{{ url_for('register_new_book') }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label class="form-label">title</label>
            {{ form.title(class="form-control", placeholder="Enter the book title") }}
        </div>
        <div class="form-group">
            <label class="form-label">Author</label>
            {{ form.author(class="form-control", placeholder="Enter the book author") }}
        </div>
        <div class="form-group">
            <label class="form-label">Publisher</label>
            {{ form.publisher(class="form-control", placeholder="Enter the book publisher") }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label">Year</label>
                {{ form.year(class="form-control", placeholder="Enter the publication year") }}
            </div>
            <div class="form-group col-md-6">
                <label class="form-label d-sm-inline-flex">Pages</label>
                {{ form.pages(class="form-control", placeholder="Enter the number of pages") }}
            </div>
            <div class="form-group">
                <label class="form-label">is read</label>
                {{ form.read(class="form-control", placeholder="do you read this book?") }}
            </div>
            <div class="form-group">
                <label class="form-label">genre</label>
                {{ form.genre(class="form-control", placeholder="Enter the book genre") }}
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Status</label>
            {{ form.status(class="form-control", placeholder="Enter the book status") }}
        </div>
        <div class="form-group">
            <label class="form-label">Format</label>
            {{ form.format(class="form-control", placeholder="Enter the book genre") }}
        </div>

        {% if existing_book %}
        <div class="existing-book position-absolute align-content-end">
            <h4 class="text-danger">A similar book already exists:</h4>
            <table class="table table-bordered table-striped table-hover table-dark">
                <tr>
                    <th>Title</th>
                    <td>{{ existing_book.title }}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>{{ existing_book.author }}</td>
                </tr>
            </table>
            <p class="text-warning">Do you still want to add a new record?</p>
            <button onclick="confirmNewBook({{ existing_book.id }})">Yeah</button>
        </div>
        {% endif %}

        <br>
        <div class="form-check d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Register new book</button>
        </div>
    </form>
</div>

<script>
    function confirmNewBook(bookId) {
            window.location.href = "/confirm_new_book/" + bookId;
    }
</script>
{% endblock %}
